<div class=container>

	<%= link_to root_url do %>
		<div id="title">
			<h1>MyMoney</h1>
			<h2>System automatycznego budowania</h2>
		</div>
	<% end %>

	<p id="motd">
		<% motd.lines.each do |line| %>
			<%= line.html_safe %><br>
		<% end %>
	</p>

	<div id="build-now-button"><%= button_to "Zbuduj teraz", :action => "build_now" %></div>

	<h3>Próby zbudowania</h3>

	<div id="build-list-head">
		<div class="col-started-at">Czas rozpoczęcia</div>
		<div class="col-trigger-mode">Rodzaj wywołania</div>
		<div class="col-revision">Rewizja</div>
		<div class="col-status">Status</div>
	</div>
	
	<ul id="build-list">
		<% @builds.each do |build| %>
			<%= link_to build do %>
				<li class="build-list-item <%= build.status_css %>">
					<div class="col-started-at"><%= build.started_at.in_time_zone('Warsaw').strftime("%Y-%m-%d %H:%M") %></div>
					<div class="col-trigger-mode"><%= build.trigger_mode_local %></div>
					<div class="col-revision"><%= build.svn_revision %></div>
					<div class="col-status"><%= build.status_local %></div>
				</li>
			<% end %>
		<% end %>
	</ul>

</div>
